<div class="narrativeCode-inner component-inner" role="region" aria-label="{{_globals._components._narrative.ariaRegion}}">
    {{> component this}}
    <div class="narrativeCode-widget component-widget {{#if _hasNavigationInTextArea}}narrativeCode-text-controls{{/if}}">

        <div class="narrativeCode-content">
            <div class="narrativeCode-content-inner">
                {{#each _items}}
                <div class="narrativeCode-content-item">
                    <div class="narrativeCode-content-title">
                        <div class="narrativeCode-content-title-inner accessible-text-block h5" role="heading" aria-level="5" tabindex="0">
                            {{{title}}}
                        </div>
                    </div>
                    <div class="narrativeCode-content-body">
                        <div class="narrativeCode-content-body-inner">
                            {{{a11y_text body}}}
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="narrativeCode-controls-container clearfix">
                    <div class="narrativeCode-indicators">
                        {{#each _items}}
                        <div class="narrativeCode-progress component-item-color component-item-border"></div>
                        {{/each}}
                    </div>
                    <button class="base narrativeCode-controls narrativeCode-control-left" role="button" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
                        <div class="icon icon-controls-left"></div>
                    </button>
                    <button class="base narrativeCode-controls narrativeCode-control-right" role="button" aria-label="{{_globals._accessibility._ariaLabels.next}}">
                        <div class="icon icon-controls-right"></div>
                    </button>
                </div>
            </div>
        </div>

        <div class="narrativeCode-strapline">
            <div class="narrativeCode-strapline-header">
                <div class="narrativeCode-strapline-header-inner clearfix">
                    <div></div>
                    {{#each _items}}
                    <button role="button" class="base narrativeCode-strapline-title" aria-label="{{{strapline}}}">
                        <div class="narrativeCode-strapline-title-inner accessible-text-block h5">
                            {{{strapline}}}
                        </div>
                        <div class="icon icon-plus"></div>
                        <div class="focus-rect"></div>
                    </button>
                    {{/each}}
                </div>
            </div>
        </div>

        <div class="narrativeCode-slide-container">

            <div class="narrativeCode-slider clearfix">
                {{#each _items}}
                <div class="narrativeCode-slider-code{{#if _isVisited}} visited{{/if}}">
                    <pre><code class="language-{{code.lang}}">{{code.src}}</code></pre>
                </div>
                {{/each}}
            </div>
            <div class="narrativeCode-indicators">

                <button class="base narrativeCode-controls narrativeCode-control-left" role="button" aria-label="{{_globals._accessibility._ariaLabels.previous}}">
                    <div class="icon icon-controls-left"></div>
                </button>
                <button class="base narrativeCode-controls narrativeCode-control-right" role="button" aria-label="{{_globals._accessibility._ariaLabels.next}}">
                    <div class="icon icon-controls-right"></div>
                </button>
                {{#each _items}}
                <div class="narrativeCode-progress component-item-color component-item-border"></div>
                {{/each}}
            </div>
        </div>

        <div class="clearfix"></div>

    </div>
</div>
